//STYLE DE NOTRE HEADER

header{

    padding: 40px 20px;


    h1{

        display: flex;

        justify-content: center;

        align-items: center;


    }

    .btn-menu{

        position: fixed;

        right: 10px;

        top: 10px;

        z-index: 3;

        background-color: $white;

        padding:20px;

        font-size: rem(30);

        border-style: none;

        outline-style: none;

        cursor: pointer;

        :hover{

            outline-style: none;
        }
    }
}