// STYLES DES ÉLÉMENTS DE NAVIGATION

// Bouton menu: dans Header

//Navigation principale

.main-nav{

  display: flex;

  justify-content: center;

  align-items: center;

  flex-direction: column;

  position: fixed;

  top: 0;

  left: 0;

  width: 100vw;

  height: 100vh;

  background-color: $white;

  &>a{

    display: block;

    font-size: rem(30);

    text-transform: uppercase;

    padding: 30px 0;

    width: 50%;

    &:hover{


        text-decoration: none;

        color: $teal;

        background-color: $couleur-noir-le-plus-pale;


      }

    &+a{
      border-top: 1px solid black;
    }
    }
  }



// STYLE DE LA SOCIAL NAV

.social-nav {

  display: flex;

  justify-content: flex-end;

  a {

    padding: 0 10px;

    font-size: rem(25);


        .fa-facebook-square:hover{

          color: $yellow;


        }

        .fa-twitter-square:hover{

          color: $teal;

        }

        .fa-github-square:hover{

          color: $red;

        }

        .fa-linkedin:hover{

          color: $blue;


        }





  }
}

