// STYLE POUR NOTRE INTERFACE

.portfolio {

    display: flex;

    flex-wrap: wrap;



    .project {

        width: calc(33.333% - 10px);

        margin: 5px;

        padding: 10px;

        border: 1px dashed $couleur-accent;

        display: flex;

        flex-direction: column;

            h2 {

                margin: 0;

                order: 2;
            }

            p {

                margin: 0;

                order: 3;
            }

            img {

                margin-bottom: 15px;
            }

            &.project-red {

                background-color: $red-lighter;
                border-color: $red-darker;

                h2, p {

                    color: $red;

                }

            }

            &.project-yellow {

                background-color: $yellow-lighter;
                border-color: $yellow-darker;

                h2, p {

                    color: $yellow;

                }

            }

            &.project-blue {

                background-color: $blue-lighter;
                border-color: $blue-darker;

                h2, p {

                    color: $blue;

                }

            }

            &.project-teal {

                background-color: $teal-lighter;
                border-color: $teal-darker;

                h2, p {

                    color: $teal;

                }

            }

        }

    }



/*   Media queries toutes pretes avant concatenation

    J'ai tenté de les appliquer sans succès...

    */

@media screen and (max-width:$vw-medium){

    .portfolio {
        .project {

            width: calc(50% - 10px);
        }
    }
}

@media screen and (max-width:$vw-small) {

            .portfolio .project {

                width: $max-width;

                margin: 10px 0;

            }
        }
