// STYLE DE BASE DU WRAPPER

.wrapper {

  width: $site-width;

  max-width: $max-width;
  margin: 0 auto;

  padding-right: $page-padding;

  padding-left: $page-padding;

  section:last-child {

    padding-bottom: 100px;

  }
}
