//FICHIER DE CONFIGURATION POUR LES VARIABLES DE COULEUR

// Couleur de base

$white: #fff;
$black: #303044;

// Couleur de projet

$couleur-accent: $black;

$couleur-texte: lighten($black, 15%);

$couleur-lien: $couleur-texte;

$couleur-noir-pale: lighten($black, 70%);

$couleur-noir-le-plus-pale: lighten($black, 75%);

//Couleurs sections

$red: rgba(231, 29, 54, 1);

$red-lighter: lighten($red, 45%);

$red-darker: darken($red, 10%);


$yellow: rgba(255, 159, 28, 1);

$yellow-lighter: lighten($yellow, 40%);

$yellow-darker: darken($yellow, 10%);


$teal: rgba(46, 196, 182, 1);

$teal-lighter: lighten($teal, 45%);

$teal-darker: darken($teal, 10%);


$blue: rgba(1, 22, 39, 1);

$blue-lighter: lighten($blue, 90%);

$blue-darker: darken($blue, 10%);






