//FICHIER DE CONFIGURATION POUR LES VARIABLES DE LARGEUR/HAUTEUR

/// Dimension maximale

$site-width: 1200px;

$max-width: 100%;

$max-height: 100%;

$page-padding: 15px;


/// Viewports sizes




/// Dimension pour les media query


$vw-thin: 320px;

$vw-small: 640px;

$vw-medium: 820px;

$vw-larger: 1024px;

$vw-huge: 1200px;


