//FICHIER DE CONFIGURATION POUR LES VARIABLES DE POLICE


/// Grosseur des textes

$text-normal: rem(16);

/// Font family

$ff-heading: 'Saira Extra Condensed', sans-serif;

$ff-text: 'Open sans', sans-serif;


/// Fonts weight
$fw-light: 300;
$fw-regular: 400;
$fw-semibold: 500;
$fw-bold: 700;

//Line-height

$line-height: rem(24);
